body, html {
  height: 100%;
  background-color: #26547c;
  font-family: "Roboto Condensed";
  font-size: 24px;
}

button {
  border: 0;
  color: #fcfcfc;
  outline: 0;
  transition: transform 0.1s ease;
}
button:active {
  transform: translateY(5px);
}


.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #ef476f;
  border-radius: 10px;
  box-shadow: 0 8px #eb184a;
  height: 355px;
  min-width: 390px;
  width: 390px;
}

.top-bar {
  display: flex;
  width: 100%;
}
.top-bar button {
  box-shadow: 0 4px 1px #cc8f00;
  background: #ffd166;
  border-radius: 10px;
  color: #7d7d7d;
  flex: 0.9;
  font-size: 22px;
  height: 48px;
  line-height: 48px;
  margin: 10px;
}
.top-bar div {
  background: #26547c;
  border-radius: 10px;
  box-shadow: inset 0 4px 5px #900d2c;
  color: #fcfcfc;
  flex: 4;
  font-size: 28px;
  height: 26px;
  margin: 10px;
  padding: 12px;
  text-align: right;
}

.keys {
  display: flex;
  flex-flow: column wrap;
  height: 290px;
}
.keys button {
  box-shadow: 0 4px 1px #142c41;
  background: #26547c;
  border-radius: 10px;
  height: 50px;
  line-height: 48px;
  margin: 9px;
  width: 75px;
}
.keys button.op {
  box-shadow: 0 4px 1px #cc8f00;
  background: #ffd166;
  color: #7d7d7d;
  line-height: 45px;
}
.keys button.equals {
  box-shadow: 0 4px 1px #048c68;
  background: #06d6a0;
  color: #7d7d7d;
}
